.detail{
    .el-dialog{
        height: 80%;
        overflow:hidden;
        padding-bottom:50px;
        &__title{
           font-size: 16px !important;
        }
        .el-dialog__body{
            padding-top: 0px !important;
            height: 100%;
            padding-bottom:50px;
            overflow-y: scroll;
            &::-webkit-scrollbar{
                 display: none;
            }
            .item{
                font-size: 14px;
                margin-bottom: 20px;
                display: flex;
                flex-direction: row;
                label{
                    display: inline-block;
                    text-align: right;
                    width: 120px;
                    margin-right: 10px;
                }
                span{
                   flex:1
                }
                .enterprise{
                     ul,li{
                         list-style: none;
                         li{
                             display: inline-block;
                             margin-right: 15px;
                             text-align: center;
                             margin-bottom: 10px;
                         }
                     }
                    .el-image{
                        width: 120px;
                        height: 82px;
                    }
                }
            }

        }
    }
}