.selection-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.selection-item {
    margin-left: 30px;
}

.selection-bar > .el-form-item {
    margin-left: 30px;
}
.el-card__body{
    .avue-dialog{
     .el-dialog{
       .el-dialog__body{
          padding: 0 20px ;
       }
    }
   }
  }